_site/
.bundle
.sass-cache/
.jekyll-metadata
Gemfile.lock
*.gem
.jekyll-cache
.tweet-cache

# Dependency directories
node_modules
jspm_packages
**/node_modules/**

# dotenv environment variables file
.env
.env.*
!.env.example

.cache
**/.cache
public

.idea
.vscode
.DS_Store